<div class="container">
  <%= link_to 'New project', new_project_path, remote: true, class: 'btn btn-primary' %>
  <div class="new-project"></div>
  <%= render 'index' %>
</div>

<div id="project-modal" class="modal fade"></div>